Lipieza codigo

In [82]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
from sklearn import datasets
from sklearn.tree import DecisionTreeClassifier

In [83]:
df_e1 = pd.read_csv('covtype.data', header=None)
df_e1

,0,1,2,3,4,5,6,7,8,9,...,45,46,47,48,49,50,51,52,53,54
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,0,0,3
581008,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,0,0,3
581009,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,0,0,3
581010,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,0,0,3
581011,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,0,0,3

In [84]:
columnas = ['Elevation', 'Aspect', 'Slope', 'Horizontal_Distance_To_Hydrology', 'Vertical_Distance_To_Hydrology', 'Horizontal_Distance_To_Roadways ', 'Hillshade_9am', 'Hillshade_Noon', 'Hillshade_3pm', 'Horizontal_Distance_To_Fire_Points']
columnas = columnas + ['Wilderness_Area_1', 'Wilderness_Area_2', 'Wilderness_Area_3', 'Wilderness_Area_4']
columnas += ['Soil_Type_' + str(i) for i in range(1, 41)]
columnas += ['Cover_Type']
df_e1.columns = columnas
df_e1

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,...,Soil_Type_32,Soil_Type_33,Soil_Type_34,Soil_Type_35,Soil_Type_36,Soil_Type_37,Soil_Type_38,Soil_Type_39,Soil_Type_40,Cover_Type
0,2596,51,3,258,0,510,221,232,148,6279,...,0,0,0,0,0,0,0,0,0,5
1,2590,56,2,212,-6,390,220,235,151,6225,...,0,0,0,0,0,0,0,0,0,5
2,2804,139,9,268,65,3180,234,238,135,6121,...,0,0,0,0,0,0,0,0,0,2
3,2785,155,18,242,118,3090,238,238,122,6211,...,0,0,0,0,0,0,0,0,0,2
4,2595,45,2,153,-1,391,220,234,150,6172,...,0,0,0,0,0,0,0,0,0,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2396,153,20,85,17,108,240,237,118,837,...,0,0,0,0,0,0,0,0,0,3
581008,2391,152,19,67,12,95,240,237,119,845,...,0,0,0,0,0,0,0,0,0,3
581009,2386,159,17,60,7,90,236,241,130,854,...,0,0,0,0,0,0,0,0,0,3
581010,2384,170,15,60,5,90,230,245,143,864,...,0,0,0,0,0,0,0,0,0,3
581011,2383,165,13,60,4,67,231,244,141,875,...,0,0,0,0,0,0,0,0,0,3

In [85]:
# crea la columna 'Soil_Type' sumando las columnas relacionadas a los tipos de suelo
df_e1['SOIL_TYPE'] = df_e1[[col for col in df_e1.columns if col.startswith('Soil_Type')]].sum(axis=1)

# crea la columna 'Wilderness_Area' sumando las columnas relacionadas a las Ã¡reas silvestres
df_e1['WILDERNESS_AREA'] = df_e1[[col for col in df_e1.columns if col.startswith('Wilderness_Area')]].sum(axis=1)

# elimina las columnas de Soil
df_e1 = df_e1.drop(columns=[col for col in df_e1.columns if col.startswith('Soil_Type')])

# elimina las  columnas de Wilderness
df_e1 = df_e1.drop(columns=[col for col in df_e1.columns if col.startswith('Wilderness_Area')])


df_e1

,Elevation,Aspect,Slope,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Horizontal_Distance_To_Roadways,Hillshade_9am,Hillshade_Noon,Hillshade_3pm,Horizontal_Distance_To_Fire_Points,Cover_Type,SOIL_TYPE,WILDERNESS_AREA
0,2596,51,3,258,0,510,221,232,148,6279,5,1,1
1,2590,56,2,212,-6,390,220,235,151,6225,5,1,1
2,2804,139,9,268,65,3180,234,238,135,6121,2,1,1
3,2785,155,18,242,118,3090,238,238,122,6211,2,1,1
4,2595,45,2,153,-1,391,220,234,150,6172,5,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...
581007,2396,153,20,85,17,108,240,237,118,837,3,1,1
581008,2391,152,19,67,12,95,240,237,119,845,3,1,1
581009,2386,159,17,60,7,90,236,241,130,854,3,1,1
581010,2384,170,15,60,5,90,230,245,143,864,3,1,1
581011,2383,165,13,60,4,67,231,244,141,875,3,1,1

# Ejercicio 1

In [86]:

# Separar la variable objetivo del resto de variables
X = df_e1.drop('Cover_Type', axis=1)
y = df_e1['Cover_Type']

# Crear un modelo de Ã¡rbol de decisiÃ³n
d_arbol = DecisionTreeClassifier(random_state=100)

# Ajustar el modelo a los datos
d_arbol.fit(X, y)

# Obtener las importancias de cada variable
importancias = d_arbol.feature_importances_

# Crear una lista con las variables ordenadas por importancia
variables = X.columns.tolist()
variables_imp = list(zip(variables, importances))
variables_imp.sort(key=lambda x: x[1], reverse=True)

# Filtrar el DataFrame para quedarnos solamente con las variables necesarias
total_imp = 0
selected_variables = []
for variable, importance in variables_imp:
    total_imp += importance
    selected_variables.append(variable)
    if total_imp >= 0.95:
        break

df_reducida = df_e1[selected_variables + ['Cover_Type']]
df_reducida

,Elevation,Horizontal_Distance_To_Roadways,Horizontal_Distance_To_Fire_Points,Horizontal_Distance_To_Hydrology,Vertical_Distance_To_Hydrology,Hillshade_Noon,Aspect,Hillshade_9am,Hillshade_3pm,Cover_Type
0,2596,510,6279,258,0,232,51,221,148,5
1,2590,390,6225,212,-6,235,56,220,151,5
2,2804,3180,6121,268,65,238,139,234,135,2
3,2785,3090,6211,242,118,238,155,238,122,2
4,2595,391,6172,153,-1,234,45,220,150,5
...,...,...,...,...,...,...,...,...,...,...
581007,2396,108,837,85,17,237,153,240,118,3
581008,2391,95,845,67,12,237,152,240,119,3
581009,2386,90,854,60,7,241,159,236,130,3
581010,2384,90,864,60,5,245,170,230,143,3
581011,2383,67,875,60,4,244,165,231,141,3

# Ejercicio 2